body {
    background-color: rebeccapurple;
  }

.row {
  display: flex;
  flex-direction: row;
}

#game-container {
  border: solid 1px yellow;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.player-board {
  border: 2px solid black;
  flex-direction: column;
  height: 100%;
}

.board-container{
  height: 450px;
  border: red solid 1px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  gap: 10px;
}

#playerOne-tag {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

#computer-tag {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  justify-self: end;
}

#playerBoard {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

#computerBoard {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.dock-container {
  border: green 1px solid;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.dock {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  border: 2px solid black;
  height: 250px;
  width: 250px;
  gap: 10px;
}

.dock.horizontal{
  display: flex;
  flex-direction: column;
  height: 250px;
  width: 250px;
}

.co-ord {
  width: 40px;
  height: 40px;
  border: 2px solid black;
  box-sizing: border-box;
  position: relative; 
  transform-style: preserve-3d; /*keeps styling for game-board square on top*/
}

.ship-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0; 
  height: fit-content;
  width: fit-content;
  transform: translateZ(-10px); /*keeps styling for ships under gameboard so hit markers are displayed over top*/
}

.ship-container.horizontal {
  flex-direction: row;
  min-width: fit-content;
}

.shipSquare {
  width: 40px;
  height: 40px;
  background-color: black;
  box-sizing: border-box; 
  border: 2px solid transparent;
}

#rotate-button {
  background: url("assets/svg/rotate-svgrepo-com.svg") no-repeat left top;
  background-size: 100% 100%;
  width: 50px;
  height: 50px;
  outline: none;
  border: none;
}


