body {
    background-color: rebeccapurple;
  }

.row {
  display: flex;
  flex-direction: row;
}

.player-board {
  display: flex;
  border: 2px solid black;
  flex-direction: column;
  height: 100%;
}

.board-container{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.dock {
  display: flex;
  flex-direction: row;
  border: 2px solid black;
  width: 500px;
  max-height: 500px;
}

.dock.horizontal{
  display: flex;
  flex-direction: column;
  max-height: 500px;
}

.co-ord {
  width: 40px;
  height: 40px;
  border: 2px solid black;
  box-sizing: border-box; /* This ensures the border is included in the width/height */
  position: relative; /* For positioning ships inside */
}

.ship-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0; /* Ensures no gap between ship squares */
  height: fit-content;
  width: fit-content;
}

.ship-container.horizontal {
  flex-direction: row;
  min-width: fit-content;
}

.shipSquare {
  width: 40px;
  height: 40px;
  background-color: black;
  box-sizing: border-box; /* Match the box-sizing of the coordinates */
  border: 2px solid transparent; /* Optional: adds some spacing between ship segments */
}

.green {
  background-color: green;
}